<?xml version="1.0" encoding="utf-8"?>
<RelationEditor xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" BreadcrumbMode="ToolTip" BreadcrumbSeparator="/">
  <ObjectType Alias="umbTextPage" Name="Document">
    <EnabledRelation Alias="textPageToNewsItem">
      <EnabledChildType Alias="umbNewsItem" />
    </EnabledRelation>
  </ObjectType>
  <ObjectType Alias="umbNewsItem" Name="Document">
    <EnabledRelation Alias="textPageToNewsItem">
      <EnabledChildType Alias="umbTextPage" />
    </EnabledRelation>
  </ObjectType>
</RelationEditor>