<?xml version="1.0" encoding="utf-8"?>
<RelationEditor xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" BreadcrumbMode="ToolTip" BreadcrumbSeparator="/">
  <ObjectType Alias="TextPage" Name="Document">
    <EnabledRelation Alias="related">
      <EnabledChildType Alias="BlogPost" />
    </EnabledRelation>
  </ObjectType>
  <ObjectType Alias="BlogPost" Name="Document">
    <EnabledRelation Alias="related">
      <EnabledChildType Alias="TextPage" />
    </EnabledRelation>
  </ObjectType>
</RelationEditor>