<?xml version="1.0" encoding="utf-8"?>
<RelationEditor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ObjectType Alias="post" Name="Document">
    <EnabledRelation Alias="documentRelation">
      <EnabledChildType Alias="page" />
    </EnabledRelation>
  </ObjectType>
  <ObjectType Alias="Grandchildpage" Name="Document">
    <EnabledRelation Alias="documentRelation">
      <EnabledChildType Alias="post" />
    </EnabledRelation>
  </ObjectType>
  <ObjectType Alias="page" Name="Document">
    <EnabledRelation Alias="documentRelation">
      <EnabledChildType Alias="page" />
      <EnabledChildType Alias="post" />
      <EnabledChildType Alias="Grandchildpage" />
    </EnabledRelation>
    <EnabledRelation Alias="docMediaRel">
      <EnabledChildType Alias="Image" />
      <EnabledChildType Alias="File" />
    </EnabledRelation>
  </ObjectType>
  <ObjectType Alias="Folder" Name="Media">
    <EnabledRelation Alias="mediaDocument">
      <EnabledChildType Alias="Grandchildpage" />
    </EnabledRelation>
    <EnabledRelation Alias="MediaToMedia">
      <EnabledChildType Alias="Image" />
    </EnabledRelation>
  </ObjectType>
</RelationEditor>