<div ng-controller="RelationEditor.EditRelationsController">
    <div class="umb-dialog-body">
        <div class="umb-pane">
            <p class="abstract" ng-hide="success">
                Assign related items to {{currentNode.name}}.
            </p>
            
            <div class="sortableFrame" ng-repeat="resourceSet in resourceSets">
                <h4>{{resourceSet.Name}}</h4>
                <table class="sortableNodes" ng-class="resourceSet.Direction">
                    <thead>
                        <tr>
                            <th style="width:5%">&nbsp;</th>
                            <th style="width:15%;">ID</th>
                            <th style="width:70%;">Name</th>
                            <th style="width:10%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody reledit-sortable="{containment:'parent'}" ng-model="resourceSet.Relations">
                        <tr ng-repeat="relation in resourceSet.Relations" ng-show="isActive(relation)" ng-class="relation.Deleted ? 'deleted' : ''">
                            <td style="width:5%;" class="direction"></td>
                            <td style="width:15%;">{{relation.ChildId}}</td>
                            <td style="width:70%;" title="{{relation.FullPath}}">{{relation.ChildName}}</td>
                            <td style="width:10%;">
                                <button class="btn btn-danger" ng-click="remove(relation)" ng-disabled="relation.Readonly"
                                    title="{{relation.RemoveTitle}}">
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <button class="btn btn-primary" ng-click="pickRelation($index)">Add</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-show="ready">
        <a class="btn btn-link" ng-click="nav.hideDialog()">Cancel</a>
        <button class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>